{% extends 'admin/master.html' %}

{% block title %}
    后台
{% endblock %}

{% block head %}
    {{ super() }}
{#    {% include "include/head.html" %}#}
{% endblock %}

{% block page_body %}
    {{ super() }}
{% endblock %}

{% block brand %}
    {{ super() }}
{% endblock %}

{% block main_menu %}
    {{ super() }}
{% endblock %}

{% block menu_links %}
    {{ super() }}
{% endblock %}

{% block access_control %}
    {{ super() }}
{% endblock %}

{% block message %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-md-8">

        </div>
{% endblock %}

{% block tail %}
    {{ super() }}

    tail
{% endblock %}



